@{
    ViewBag.Title = "Home Page";
}
<script>
    $(document).ready(function () {
        toastr.success('Hoşgeldiniz');
       
    });
    
    </script>
<Slider style="margin-bottom:10px;">
    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item slider1 active">
                <img src="~/Content/Resources/Images/slide1.jpg" />
            </div>
            <div class="carousel-item slider2">
                <img src="~/Content/Resources/Images/slide2.jpg" />
            </div>
            <div class="carousel-item slider3">
                <img src="~/Content/Resources/Images/slide3.jpg" />
            </div>
            <div class="carousel-item slider4">
                <img src="~/Content/Resources/Images/slide4.jpg" />
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</Slider>
<Other>

    <div class="col-md-12 " style="margin-top:10px;">
        <div class="row col-md-12 ">

            <div class="col-md-1"></div>

            <div class="col-md-4">
                <div class="card text-center ">
                    <div class="card-header">
                        Featured
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Special title treatment</h5>
                        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>

            <div class="col-md-1"></div>

            <div class="col-md-1"></div>

            <div class="col-md-4">
                <div class="card text-center ">
                    <div class="card-header">
                        Featured
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Special title treatment</h5>
                        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>

            <div class="col-md-1"></div>
        </div>
    </div>
    <div class="col-md-12 " style="margin-top: 40px;">
        <div class="row col-md-12">

            <div class="col-md-1">
            </div>

            <div class="col-md-2">
                <div class="card ">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="#" class="card-link">Card link</a>
                        <a href="#" class="card-link">Another link</a>
                    </div>
                </div>
            </div>

            <div class="col-md-2">
            </div>

            <div class="col-md-2">
                <div class="card ">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="#" class="card-link">Card link</a>
                        <a href="#" class="card-link">Another link</a>
                    </div>
                </div>
            </div>

            <div class="col-md-2">
            </div>

            <div class="col-md-2">
                <div class="card ">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="#" class="card-link">Card link</a>
                        <a href="#" class="card-link">Another link</a>
                    </div>
                </div>
            </div>

            <div class="col-md-1">
            </div>


        </div>
    </div>
</Other>